<!DOCTYPE html>
<html>
<head>
  <title>MigraineTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      </a>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
